#projects {
  /* width: 60%; */
  margin: 2rem auto;
}

.project-grid {
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 0.8rem;
  margin-top: 2rem;
  /* border: 2px solid red; */
}

.project-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 4rem;
  /* align-items: center; */
  justify-content: flex-start;
  width: min(95%, 60rem);
  /* width: 90%; */
  margin-inline: auto;
  /* border: 2px solid red; */
}

.project-img {
  height: 300px;
  width: 225px;
  border-radius: 1rem;
}

.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* border: 2px solid green; */
}

.p-title {
  font-size: 1.5rem;
}

.list li {
  font-size: 1rem;
  padding: 0.5rem;
  text-indent: 0.2rem;
  list-style: square;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .project-container {
    flex-wrap: wrap;
  }
}
