/* hero section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 80vh;
  /* border: 2px solid red; */
  /* background: yellow; */
}

.pic-container {
  display: flex;
  /* height: 400px;
  width: 400px; */
  max-width: 400px;
  min-height: 150px;
  min-width: 150px;
  /* background: red; */

  margin-bottom: 3rem;
  /* margin: auto 0; */
  /* margin-inline: auto; */
  /* border: 1px solid red; */
  z-index: 0;
}

.leo {
  max-width: 100%;
  border-radius: 50%;
  filter: brightness(1.15);
}

.hero-text {
  max-width: 500px;
  /* min-width: 100px; */
  /* min-height: 500px; */
  align-self: center;
  text-align: center;
  margin-top: 1rem;
  /* margin-inline: auto; */
  /* border: 2px solid red; */
  /* background: green; */
}

.hero-text p {
  font-weight: 400;
  /* font-size: 1rem; */
}

.name {
  font-size: 3rem;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  #hero {
    display: block;
  }
  .hidden {
    display: block;
  }
  .show {
    display: none;
  }

  .pic-container,
  .hero-text {
    /* margin: auto; */
    margin-inline: auto;
  }
}

@media screen and (max-width: 600px) {
  .hero-text p {
    font-size: 0.9rem;
  }
  .name {
    font-size: 2rem;
  }
  .github,
  .email,
  .linkedin {
    display: block;
    margin-inline: auto;
    margin-bottom: 1rem;
    /* font-size: 2rem; */
  }
}
